@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: rgba(23, 36, 36, 0.164);

}
*{
margin:0 ;
padding: 0;

}
nav{
    font-family: 'Manrope',sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    height:65px;
    color: white;
    background-color: black;
    font-weight: bolder;
    align-items: center;
}
.brand img{
    width: 44px;
    padding: 0 5px;
}
.brand{
    display: flex;
    align-items: center;
}
nav ul li{
    padding: 0 12px;
}
.container{
    min-height: 70vh;
    display: flex;
    width: 70%;
    margin-top: 0;
    margin: 0 auto;
    /* border-radius: 12px; */
    padding:30px;
    background-color: black;
    color: white;
    font-family: 'Vaerla Round',sans-serif;
    background-image: url(bg.jpg);
    background-position: center top;
    background-size: auto 70%;
    background-repeat: no-repeat;
    /* background-size: cover; */
}
.bottom{
    position: sticky;
    bottom: 0;
    display: flex;
    background-color: black;
    height:130px;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    color: white;
}
i{
    padding: 8px;;
}
#bottombar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}
.icons{
    padding: 15px;
    cursor: pointer;
}
.songitem{
    height: 50px;
    display: flex;
    background-color: rgba(43, 25, 43, 0.7);
    color: white;
    margin: 12px 0;
    justify-content: space-between;
    padding: 10px;
    flex: row;
}
.timestamp{
    padding: 5px;
}
.songname{
    font-family: 'Vaerla Round',sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding:5px ;
}
.songlistplay{
    display: flex;
    padding:5px;
    align-items: center;
}
.playing{
    height: 15px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
.songdet{
    font-family: 'Vaerla Round',sans-serif;
    position: absolute;
    left: 10vw;
    /* top: 10vh; */
}